.Lorem {
    margin-top: 5rem;
    width: 80%;
    margin-left: 7rem;
}

.background {
   background: #0D6EFD;
background: linear-gradient(180deg, rgba(13, 110, 253, 1) 0%, rgba(13, 110, 253, 1) 98%, rgba(255, 255, 255, 1) 100%);
}

.titre {
    padding-right: 20%;
    padding-left: 33.5%;
}