@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@200..700&display=swap');

.Lorem {
    margin-top: 5rem;
    width: 80%;
    margin-left: 7rem;
}

.background {
   background: #0D6EFD;
background: linear-gradient(180deg, rgba(13, 110, 253, 1) 0%, rgba(13, 110, 253, 1) 98%, rgba(255, 255, 255, 1) 100%);
}

.police {
    font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}

.titre {
    padding-right: 20%;
    padding-left: 35.5%;
}

.titre2 {
    padding-right: 20%;
    padding-left: 35.5%;
}